<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>2</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <ManifestCertificateThumbprint>D3652BBA1274B518B52F5C417EB1FAAC9ECC1CA1</ManifestCertificateThumbprint>
    <ManifestKeyFile>UpCount_TemporaryKey.pfx</ManifestKeyFile>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>UpCount</ProductName>
    <PublishDir>bin\Release\net6.0-windows\app.publish\</PublishDir>
    <PublishUrl>C:\Users\gerem\Desktop\Up\</PublishUrl>
    <PublisherName>byob_kid</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <SuiteName>TapCache</SuiteName>
    <TargetFramework>net6.0-windows</TargetFramework>
    <UpdateEnabled>False</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2023-02-28T08:57:48.9215889Z;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include=".NETFramework,Version=v4.8.1">
      <Install>true</Install>
      <ProductName>Microsoft .NET Framework 4.8.1 (x86 and x64)</ProductName>
    </BootstrapperPackage>
    <BootstrapperPackage Include="Microsoft.NetCore.CoreRuntime.7.0.x64">
      <Install>true</Install>
      <ProductName>.NET Runtime 7.0.2 (x64)</ProductName>
    </BootstrapperPackage>
    <BootstrapperPackage Include="Microsoft.NetCore.CoreRuntime.7.0.x86">
      <Install>true</Install>
      <ProductName>.NET Runtime 7.0.2 (x86)</ProductName>
    </BootstrapperPackage>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.6.0.x64">
      <Install>True</Install>
      <ProductName>.NET Desktop Runtime 6.0.13 (x64)</ProductName>
    </BootstrapperPackage>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.7.0.x64">
      <Install>true</Install>
      <ProductName>.NET Desktop Runtime 7.0.2 (x64)</ProductName>
    </BootstrapperPackage>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.7.0.x86">
      <Install>true</Install>
      <ProductName>.NET Desktop Runtime 7.0.2 (x86)</ProductName>
    </BootstrapperPackage>
    <BootstrapperPackage Include="Microsoft.SqlServer.Express.11.0">
      <Install>true</Install>
      <ProductName>SQL Server 2012 Express</ProductName>
    </BootstrapperPackage>
    <BootstrapperPackage Include="Microsoft.SqlServer.SqlLocalDB.15.0">
      <Install>true</Install>
      <ProductName>SQL Server 2019 Express LocalDB</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>